<div class="layout-wrapper">
      <div class="layout-topbar">
            <app-header></app-header>
      </div>
    <div class="layout-main">
        <div class="layout-content">
            <main>
                <router-outlet></router-outlet>
            </main>
      </div>
    </div>
      <div class="content-section layout-footer clearfix">
            <span>Blockstack Hello Angular</span>
            <div class="footer-links">
                <a href="#">test</a>
            </div>
        </div>
</div>